#item-container {
/*  display: inline flex;*/
  margin : 10px 10px;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 20px;
}

#item-img {
  height: 200px;
  width: 200px;
  
}

#item-description{
  font-size: 20px;
  text-align: center;
}

#item-price{
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}

